{% extends "mws_main/store_base.html" %}

{% load static %}

{% block title %}{{ tenant.name }}{% endblock %}

{% block content %}
<section class="summary">

</section>

<section class="panel-board">
  
  <section class="panel software-panel">
    <nav>
      <h2>Available software</h2>
      <a class="panel-action" href="{% url 'mws_main:add_service' tenant.store_url %}"><i class="plus"></i>Add service</a>
    </nav>

    {% if services %}
    <ul class="panel-listing">
      {% for service in services %}
      <li>
	
	<a class="entry-detail" href="{% url 'mws_main:service_admin_detail' tenant.store_url service.pk %}">
	  <p class="entry-name">{{ service.name }}</p>
	  <p class="entry-info">Last version: {{ service.last_version }}</p>
	  <p class="entry-info">{{ service.n_downloads }} download{% if service.n_downloads > 1 %}s{% endif %}</p>
	</a>
	
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no offered services at this moment.</p>
    {% endif %}
  </section>

  
  <section class="panel dev-panel">
    <nav>
      <h2>Registered developers</h2>
      <a class="panel-action" href="{% url 'mws_main:add_developer' tenant.store_url %}"><i class="plus"></i>Add developer</a>
    </nav>
    
    {% if developers %}
    <ul class="panel-listing">
      {% for dev in developers %}
      <li>
	<a class="entry-detail" href="{% url 'mws_main:developer_detail' tenant.store_url dev.pk %}">
	  <p class="entry-name">{{ dev.get_full_name }}</p>
	  <p class="entry-info">Last login: {% if dev.last_login %}{{ dev.last_login|date:"D d M Y" }} {{ dev.last_login|date:"H:i" }}{% else %}Didn't log in yet.{% endif %}</p>
	</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no registered developers at this moment.</p>
    {% endif %}
    
  </section>

  
  <section class="panel client-panel">

    <nav>
      <h2>Clients statistics</h2>
    </nav>
    
    <section class="clients-listing">
      {% if clients %}
      <ul class="panel-listing">
	{% for client in clients %}
	<li>
	  <a class="entry-detail" href="{% url 'mws_main:client_detail' tenant.store_url client.pk %}">
	    <p class="entry-name">{{ client.get_username }}</p>
	    <p class="entry-info">Date joined: {{ client.date_joined }}</p>
	  </a>
	</li>
	{% endfor %}
      </ul>
      {% else %}
      <p>There are no registered clients at this moment.</p>
      {% endif %}
    </section>

    <section class="clients-statistics">
      <table>
	<tr>
	  <th>Header 1</th>
	  <th>Header 2</th>
	</tr>

	<tr>
	  <td>Data 1</td>
	  <td>Data 2</td>
	</tr>
	
      </table>
	
    </section>
  </section>
  
</section>
{% endblock %}
