{% extends "mws_main/repo-base.html" %}

{% load static %}

{% block title %}{{ tenant.name }}{% endblock %}

{% block content %}
<section class="summary">

</section>

<section class="panel-board">
  
  <section class="panel software-panel">
    <nav>
      <h2>Available software</h2>
      <a class="panel-action" href="{% url 'mws_main:add_service' tenant.repo_addr %}"><i class="plus"></i>Add service</a>
    </nav>

    {% if services %}
    <ul class="panel-listing">
      {% for service in services %}
      <li>
	
	<a class="entry-detail" href="{% url 'mws_main:service_detail' tenant.repo_addr service.pk %}">
	  <p class="entry-name">{{ service.name }}</p>
	  <p class="entry-info">Last version: {{ service.last_version }}</p>
	  <p class="entry-info">{{ service.n_downloads }} download{% if service.n_downloads > 1 %}s{% endif %}</p>
	</a>
	
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no offered services at this moment.</p>
    {% endif %}
  </section>

  
  <section class="panel dev-panel">
    <nav>
      <h2>Registered developers</h2>
      <a class="panel-action" href="{% url 'mws_main:add_developer' tenant.repo_addr %}"><i class="plus"></i>Add developer</a>
    </nav>
    
    {% if developers %}
    <ul class="panel-listing">
      {% for dev in developers %}
      <li>
	<a class="entry-detail" href="{% url 'mws_main:developer_detail' tenant.repo_addr dev.pk %}">
	  <p class="entry-name">{{ dev.get_full_name }}</p>
	  <p class="entry-info">Last login: {% if dev.last_login %}{{ dev.last_login|date:"D d M Y" }} {{ dev.last_login|date:"H:i" }}{% else %}Didn't log in yet.{% endif %}</p>
	</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no registered developers at this moment.</p>
    {% endif %}
    
  </section>

  
  <section class="panel client-panel">
    
    <h2>Clients statistics</h2>
    
    {% if clients %}
    <ul>
      {% for client in clients %}
      <li><a href="{% url 'mws_main:client_detail' tenant.repo_addr client.pk %}">{{ client.get_full_name }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no registered clients at this moment.</p>
    {% endif %}
  </section>
  
</section>
{% endblock %}
