{% extends "mws_main/repo-base.html" %}

{% load static %}

{% block title %}{{ tenant.name }}{% endblock %}

{% block content %}

<section class="software-catalog">
  <h2 class="software-header">Offered software</h2>

  {% if services %}
  <ul>
    {% for service in services %}
       <li><a href="{% url 'mws_main:service_detail' tenant.repo_addr service.pk %}">{{ service.name }}</a></li>
       {% endfor %}
  </ul>
  {% else %}
  <p>There are no offered services at this moment.</p>
  {% endif %}
</section>

{% endblock %}
