{% extends 'mws_main/profile_base.html' %}

{% load static %}

{% block specific_content %}

<section class="profile-subsection profile-services">
  <h2>Software purchased</h2>
  {% if user.has_services %}
  <ul>
    {% for service in user.get_services %}
    <li>
      <a class="service-entry">{{ service.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>
    No software has been acquired yet. Start using the <a href="{% url 'mws_main:store_home' tenant.store_url %}">store!</a>
  </p>
  {% endif %}
</section>
{% endblock %}
