{% extends "mws_main/store_base.html" %}

{% block title %}{{ tenant.name }}{% endblock %}

{% block actions %}
<a class="action spec-action" href="{% url 'mws_main:add_service' tenant.store_url %}">
  Add service
</a>
{% endblock %}

{% block content %}

<p>
  Welcome to the repository {{ tenant.name }}. Here you will find
  your software and the tools to manage them!
</p>

<section>
  <h2>Available software</h2>
  
  {% if services %}
  <ul>
    {% for service in services %}
       <li><a href="{% url 'mws_main:service_admin_detail' tenant.store_url service.pk %}">{{ service.name }}</a></li>
       {% endfor %}
  </ul>
  {% else %}
  <p>There are no offered services at this moment.</p>
  {% endif %}
</section>

{% endblock %}
