{% extends 'mws_main/store_base.html' %}

{% load static %}

{% block title %}Developer | {{ tenant.name }}{% endblock %}

{% block content %}
<section class="developer-details">
  <h2>Developer: {{ object.get_full_name }}</h2>
  <section class="developer-basic">
    <h3>Basic information</h3>
    <dl>
      <dt>Username</dt>
      <dd>{{ object.get_username }}</dd>

      <dt>Last login</dt>
      <dd>{{ object.last_login }}</dd>
      
      <dt>Email address</dt>
      <dd>{{ object.email }}</dd>
      <dt>Is active?</dt>
      <dd>{% if object.is_active %}Yes{% else %}No{% endif %}</dd>
      <dt>Date registered</dt>
      <dd>{{ object.date_joined }}</dd>
    </dl>
  </section>
</section>


<section class="profile-section profile-services">
  <nav>
    <h2>Assigned services</h2>
  </nav>

  {% if assigned_services %}
  <ul class="service-listing profile-services-listing">
    {% for service in assigned_services %}
    <li class="service-item">
      <a class="service-header small-entry" href="{% url 'mws_main:service_detail' service.pk %}">
	{% if service.icon %}
	<img class="service-icon" src="{{ service.icon.url }}" width="50" height="50">
	{% endif %}
	<div class="service-info">
	  <p class="service-name">{{ service.name }}</p>
	</div>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No software has been assigned to you.</p>
  {% endif %}
{% endblock %}
