{% extends 'mws_main/repo-base.html' %}

{% load static %}

{% block title %}Developer | {{ tenant.name }}{% endblock %}

{% block content %}
<section class="developer-details">
  <h2>Developer: {{ object.get_full_name }}</h2>
  <section class="developer-basic">
    <h3>Basic information</h3>
    <dl>
      <dt>Username</dt>
      <dd>{{ object.get_username }}</dd>

      <dt>Last login</dt>
      <dd>{{ object.last_login }}</dd>
      
      <dt>Email address</dt>
      <dd>{{ object.email }}</dd>
      <dt>Is active?</dt>
      <dd>{% if object.is_active %}Yes{% else %}No{% endif %}</dd>
      <dt>Date registered</dt>
      <dd>{{ object.date_joined }}</dd>
    </dl>
  </section>
</section>
{% endblock %}
