{% extends "mws_main/auth_base.html" %}
{% load static %}

{% block actions %}
<section class="actions-section">
  <a class="action" href="{% url 'mws_main:signup' tenant.repo_addr %}">Sign up as client</a>
</section>
{% endblock %}

{% block content %}

<section class="login-section">
  <h1>Log in</h1>
  <form class="login-form" method="post" action="{% url 'mws_main:login' tenant.repo_addr %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Login">
    {% if error_message %}<p class="error-message"><strong>{{ error_message }}</strong></p>{% endif %}
  </form>
</section>
{% endblock %}
