{% extends 'mws_main/store_base.html' %}

{% load static %}

{% block title %}Profile | {{ tenant.name }}{% endblock %}

{% block content %}
<h1>{{ object.get_full_name }}</h1>

<div class="profile-wrapper">

  <section class="profile-section profile-basic">
    <nav>
      <h2>Basic information</h2>
      <a class="{{ metadata.main_theme_color }}-light-ref" href="{% url 'mws_main:update_profile' %}">Update profile</a>
    </nav>

    <dl>
      <dt>Username</dt>
      <dd>{{ object.get_username }}</dd>
      
      <dt>Name</dt>
      <dd>{{ object.get_full_name }}</dd>
      
      <dt>Last login</dt>
      <dd>{{ object.last_login }}</dd>
      
      <dt>Email address</dt>
      <dd>{{ object.email }}</dd>
      
      <dt>Date joined</dt>
      <dd>{{ object.date_joined }}</dd>
    </dl>
  </section>

  {% block specific_content %}{% endblock %}

</div>

{% endblock %}
