<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <h1>{{ tenant.name }}</h1>
    </header>

    <nav>
      <ul>
	<form method="post" action="{% url 'mws_main:logout' tenant.repo_addr %}">
	  {% csrf_token %}
	  <input type="Submit" value="Log out">
      </ul>
    </nav>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <p>{{ tenant.name }}</p>
    </footer>

  </body>
</html>
