{% extends 'mws_main/store_base.html' %}

{% load static %}

{% block title %}{{ service.name }} | {{ tenant.name }}{% endblock %}

{% block content %}


<div class="service-detail">

  <section class="main-detail">
    {% if service.icon %}
    <img src="{{ service.icon.url }}" alt="{{ service.name }} icon" width="150" height="150">
    {% endif %}
    <div class="service-info">
      <h1 class="service-name">{{ service.name }}</h1>
      <h3 class="service-briefdescrp">{{ service.brief_descrp }}</h3>
    </div>
  </section>

  <section>
    <ul class="stats">
      <li>{{ service.datetime_published | date:"SHORT_DATETIME_FORMAT" }}</li>
      <li>{{ service.n_downloads }} download{{ service.n_downloads | pluralize }}</li>
    </ul>
  </section>

  <div class="detail-wrapper">

    <section class="detail-part">

      {% if service.descrp != "" %}
      {{ parsed_descrp | safe }}
      {% else %}
      <p>A description wasn't provided.</p>
      {% endif %}
      
      <section class="service-packages">
	<h4>Available packages</h4>
	<ul>
	  {% for package in service.packages %}
	  <li>
	    <nav class="package-header">
	      <h5 class="package-name">
		Package {{ package.n_package }}
	      </h5>
	      <a class="download-button" href="{% url 'mws_main:download_service' tenant.store_url service.pk package.n_package %}">Download</a>
	    </nav>
	    
	    {% if package.descrp %}
	    <p>
	      {{ package.descrp }}
	    </p>
	    {% endif %}
	    <dl>
	      <dt>Last version</dt>
	      <dd>{{ package.last_version }}</dd>
	      
	      <dt>Size</dt>
	      <dd>{{ package.size | filesizeformat }}</dd>
	      
	      <dt>Operative system</dt>
	      <dd>{{ package.os_name }}</dd>
	    </dl>
	  </li>
	  {% endfor %}
	</ul>
      </section>
    </section>

  </div>
  
</div>
{% endblock %}
