{% extends 'mws_main/store_base.html' %}

{% block title %}Add service | {{ tenant.name }}{% endblock %}

{% block content %}
<section class="form-section">

  <h1>Update service {{ service.name }}</h1>
  
  <form class="registration-form" method="post" action="{% url 'mws_main:update_service' service.pk %}">
    {% csrf_token %}
    {{ form.as_ul }}
    
    <input class="main-button {{ metadata.main_theme_color }}-hover {{ metadata.main_theme_color }}-background" type="submit" value="Save">
  </form>
</section>
{% endblock %}
