{% extends 'mws_main/store_base.html' %}

{% block title %}Update store | {{ tenant.name }}{% endblock %}

{% block content %}
<h1>Update store metadata</h1>
<form class="footer-form" method="post" action="{% url 'mws_main:update_store' tenant.store_url %}">
  {% csrf_token %}
  <input class="main-button {{ metadata.main_theme_color }}-background {{ metadata.main_theme_color }}-hover" type="submit" value="Save changes">

  <div>
    {{ form.main_theme_color.errors }}
    <label for="{{ form.main_theme_color.id_for_label }}">Color theme: </label>
    {{ form.main_theme_color }}
  </div>

  <fieldset class="multiple-fieldsets">
    <legend><h2>Footer information</h2></legend>
    
    <fieldset class="column-fields">
      <legend>Column 1</legend>

      <div>
	<label for="{{ form.footer_col1_title.id_for_label }}">Title: </label>
	{{ form.footer_col1_title }}
      </div>

      <div>
	<label for="{{ form.footer_col1_row1_text.id_for_label }}">Text for row 1: </label>
	{{ form.footer_col1_row1_text }}
      </div>

      <div>
	<label for="{{ form.footer_col1_row1_url.id_for_label }}">URL for row 1: </label>
	{{ form.footer_col1_row1_url }}
      </div>

      <div>
	<label for="{{ form.footer_col1_row2_text.id_for_label }}">Text for row 2: </label>
	{{ form.footer_col1_row2_text }}
      </div>

      <div>
	<label for="{{ form.footer_col1_row2_url.id_for_label }}">URL for row 2: </label>
	{{ form.footer_col1_row2_url }}
      </div>

      <div>
	<label for="{{ form.footer_col1_row3_text.id_for_label }}">Text for row 3: </label>
	{{ form.footer_col1_row3_text }}
      </div>

      <div>
	<label for="{{ form.footer_col1_row3_url.id_for_label }}">URL for row 3: </label>
	{{ form.footer_col1_row3_url }}
      </div>

      <div>
	<label for="{{ form.footer_col1_row4_text.id_for_label }}">Text for row 4: </label>
	{{ form.footer_col1_row4_text }}
      </div>

      <div>
	<label for="{{ form.footer_col1_row4_url.id_for_label }}">URL for row 4: </label>
	{{ form.footer_col1_row4_url }}
      </div>

      <div>
	<label for="{{ form.footer_col1_row5_text.id_for_label }}">Text for row 5: </label>
	{{ form.footer_col1_row5_text }}
      </div>

      <div>
	<label for="{{ form.footer_col1_row5_url.id_for_label }}">URL for row 5: </label>
	{{ form.footer_col1_row5_url }}
      </div>
    </fieldset>

    <fieldset class="column-fields">
      <legend>Column 2</legend>

      <div>
	<label for="{{ form.footer_col2_title.id_for_label }}">Title: </label>
	{{ form.footer_col2_title }}
      </div>

      <div>
	<label for="{{ form.footer_col2_row1_text.id_for_label }}">Text for row 1: </label>
	{{ form.footer_col2_row1_text }}
      </div>

      <div>
	<label for="{{ form.footer_col2_row1_url.id_for_label }}">URL for row 1: </label>
	{{ form.footer_col2_row1_url }}
      </div>

      <div>
	<label for="{{ form.footer_col2_row2_text.id_for_label }}">Text for row 2: </label>
	{{ form.footer_col2_row2_text }}
      </div>

      <div>
	<label for="{{ form.footer_col2_row2_url.id_for_label }}">URL for row 2: </label>
	{{ form.footer_col2_row2_url }}
      </div>

      <div>
	<label for="{{ form.footer_col2_row3_text.id_for_label }}">Text for row 3: </label>
	{{ form.footer_col2_row3_text }}
      </div>

      <div>
	<label for="{{ form.footer_col2_row3_url.id_for_label }}">URL for row 3: </label>
	{{ form.footer_col2_row3_url }}
      </div>

      <div>
	<label for="{{ form.footer_col2_row4_text.id_for_label }}">Text for row 4: </label>
	{{ form.footer_col2_row4_text }}
      </div>

      <div>
	<label for="{{ form.footer_col2_row4_url.id_for_label }}">URL for row 4: </label>
	{{ form.footer_col2_row4_url }}
      </div>

      <div>
	<label for="{{ form.footer_col2_row5_text.id_for_label }}">Text for row 5: </label>
	{{ form.footer_col2_row5_text }}
      </div>

      <div>
	<label for="{{ form.footer_col2_row5_url.id_for_label }}">URL for row 5: </label>
	{{ form.footer_col2_row5_url }}
      </div>
    </fieldset>

    <fieldset class="column-fields">
      <legend>Column 3</legend>

      <div>
	<label for="{{ form.footer_col3_title.id_for_label }}">Title: </label>
	{{ form.footer_col3_title }}
      </div>

      <div>
	<label for="{{ form.footer_col3_row1_text.id_for_label }}">Text for row 1: </label>
	{{ form.footer_col3_row1_text }}
      </div>

      <div>
	<label for="{{ form.footer_col3_row1_url.id_for_label }}">URL for row 1: </label>
	{{ form.footer_col3_row1_url }}
      </div>

      <div>
	<label for="{{ form.footer_col3_row2_text.id_for_label }}">Text for row 2: </label>
	{{ form.footer_col3_row2_text }}
      </div>

      <div>
	<label for="{{ form.footer_col3_row2_url.id_for_label }}">URL for row 2: </label>
	{{ form.footer_col3_row2_url }}
      </div>

      <div>
	<label for="{{ form.footer_col3_row3_text.id_for_label }}">Text for row 3: </label>
	{{ form.footer_col3_row3_text }}
      </div>

      <div>
	<label for="{{ form.footer_col3_row3_url.id_for_label }}">URL for row 3: </label>
	{{ form.footer_col3_row3_url }}
      </div>

      <div>
	<label for="{{ form.footer_col3_row4_text.id_for_label }}">Text for row 4: </label>
	{{ form.footer_col3_row4_text }}
      </div>

      <div>
	<label for="{{ form.footer_col3_row4_url.id_for_label }}">URL for row 4: </label>
	{{ form.footer_col3_row4_url }}
      </div>

      <div>
	<label for="{{ form.footer_col3_row5_text.id_for_label }}">Text for row 5: </label>
	{{ form.footer_col3_row5_text }}
      </div>

      <div>
	<label for="{{ form.footer_col3_row5_url.id_for_label }}">URL for row 5: </label>
	{{ form.footer_col3_row5_url }}
      </div>
    </fieldset>

    <fieldset class="column-fields">
      <legend>Column 4</legend>

      <div>
	<label for="{{ form.footer_col4_title.id_for_label }}">Title: </label>
	{{ form.footer_col4_title }}
      </div>

      <div>
	<label for="{{ form.footer_col4_row1_text.id_for_label }}">Text for row 1: </label>
	{{ form.footer_col4_row1_text }}
      </div>

      <div>
	<label for="{{ form.footer_col4_row1_url.id_for_label }}">URL for row 1: </label>
	{{ form.footer_col4_row1_url }}
      </div>

      <div>
	<label for="{{ form.footer_col4_row2_text.id_for_label }}">Text for row 2: </label>
	{{ form.footer_col4_row2_text }}
      </div>

      <div>
	<label for="{{ form.footer_col4_row2_url.id_for_label }}">URL for row 2: </label>
	{{ form.footer_col4_row2_url }}
      </div>

      <div>
	<label for="{{ form.footer_col4_row3_text.id_for_label }}">Text for row 3: </label>
	{{ form.footer_col4_row3_text }}
      </div>

      <div>
	<label for="{{ form.footer_col4_row3_url.id_for_label }}">URL for row 3: </label>
	{{ form.footer_col4_row3_url }}
      </div>

      <div>
	<label for="{{ form.footer_col4_row4_text.id_for_label }}">Text for row 4: </label>
	{{ form.footer_col4_row4_text }}
      </div>

      <div>
	<label for="{{ form.footer_col4_row4_url.id_for_label }}">URL for row 4: </label>
	{{ form.footer_col4_row4_url }}
      </div>

      <div>
	<label for="{{ form.footer_col4_row5_text.id_for_label }}">Text for row 5: </label>
	{{ form.footer_col4_row5_text }}
      </div>

      <div>
	<label for="{{ form.footer_col4_row5_url.id_for_label }}">URL for row 5: </label>
	{{ form.footer_col4_row5_url }}
      </div>
    </fieldset>
    
  </fieldset>
</form>


{% endblock %}
