body {
    margin: 0 0 0 0;
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

a {
    text-decoration: none;
}

.site-header {
    background-color: #533747;
    border-bottom: 2px solid #6A6B83;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
}

.site-title {
    font-size: 32px;
    font-weight: 700;
    line-weight: 56px;
    color: white;
    padding: 8px;
    margin-right: auto;
}

.site-title:hover {
    color: #86BBBD;
}

.actions-section {
    display: flex;
    flex-direction: row;
}

.action-form {
    padding: 0;
    margin: 0;
}

.action {
    cursor: pointer;
    color: white;
    font-weight: 500;
    background: #76949F;
    padding: 0.5em 15px 0.5em;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;
}

.action:hover {
    background: #86BBBD;
}

.site-footer {
    background: #F9F9FB;
    padding: 2rem 1rem;
    margin: 20px 0px;
    postion: relative;
    display: grid;
    grid-template-areas: "logo nav1";
    color: #4B4B4B;
}

.site-footer h2 {
    margin: 0 0 .5rem;
    font-size: 1.1rem;
    font-weight: 300;
}

.site-footer-logo-col {
    grid-area: logo;
}

.login-section {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.login-form {
    max-width: 450px;
    width: 450px;
    border: 1px solid  lightgray;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 lightgray, 0 5px 20px 0 lightgray;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px;
}

.login-form label {
    display: block;
    padding: 4px 10px 0 0;
    width: 100px;
    word-wrap: break-word;
    line-height: 1;
}

.login-form input[type="submit"] {
    display: inline-block;
    margin-top: 10px;
    padding: 0.8em 20px 0.8em;
    margin-bottom: 20px;
    background: #533747;
    color: white;
    border: 0;
    font-weight: 700;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background: #7a5269;
}

.errorlist {
    color: #c92a42;
}

.signup-header {
    margin-left: 30px;
}

.signup-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.signup-form {
    max-width: 700px;
    width: 450px;
}

.signup-form fieldset {
    border: 0;
    margin-top: 30px;
}

.signup-form legend {
    font-weight: 500;
    font-size: large;
}

.signup-form li {
    list-style: none;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px;
}

.signup-form label {
    display: block;
    padding: 4px 10px 0 0;
    width: 200px;
    word-wrap: break-word;
    line-height: 1;
}

.signup-form .helptext {
    margin-top: 5px;
    width: 100%;
    font-size: 0.8rem;
    color: gray;
    overflow-wrap: break-word;
}

.signup-form input[type="submit"] {
    display: inline-block;
    padding: 1em 50px 1em;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #533747;
    color: white;
    border: 0;
    font-weight: 700;
    border-radius: 7px;
    cursor: pointer;
}

.signup-form input[type="submit"]:hover {
    background: #7a5269;
}

.success-message {
    margin: 50px;
    font-size: 1.5rem;
}

.profile-section {
    margin: 0 20px;
}

.profile-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.profile-details section {
    width: 50%;
    display: flex;
    justify-content: center;
}

.profile-details h2 {
    font-weight: 300;
    font-size: 20px;
}

.profile-subsection {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    max-height: 700px;
}

.profile-subsection nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.profile-subsection nav a {
    margin-top: 5px;
    color: #533747;
}

.profile-subsection nav a:hover {
    color: #7a5269;
}

.profile-subsection h2 {
    width: fit-content;
    margin-right: auto;
    margin-top: 0;
}

.profile-basic dt {
    font-weight: 600;
    margin-top: 10px;
}

.software-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
}

.software-header {
    font-weight: 300;
}

.panel-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.panel {
    margin: 20px 10px;
    width: 45%;
}

.panel nav {
    display: flex;
    flex-direction: row;
}

.panel h2 {
    font-size: 18px;
    font-weight: 300;
    margin-right: 10px;
}

.client-panel {
    width: max-content;
}

.plus {
    display: inline-block;
    width: 33px;
    height: 33px;
    background:
	linear-gradient(#000 0 0),
	linear-gradient(#000 0 0);
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    background-repeat: no-repeat;
}

.panel-action {
    color: black;
    height: fit-content;
    margin-top: 6px;
    border: 1px solid lightgray;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    font-size: 15px;
}

.panel-action:hover {
    background: #F9F9FB;
}

.panel-listing {
    max-height: 500px;
    overflow: scroll;
    scrollbar-width: 10px;
    list-style: none;
    padding-left: 0;
}

.entry-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
}

.entry-detail:hover {
    background: #F9F9FB;
}

.entry-name {
    margin-right: 20px;
    color: black;
    font-weight: 550;
}

.entry-info {
    color: gray;
    margin-right: 20px;
    font-size: 15px;
}

.logout-section {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logout-section h1 {
    font-weight: 350;
    font-size: 28px;
}

.logout-section a {
    color: #76949F;
    font-weight: 600;
}

.logout-section a:hover {
    color: #86BBBD;
}

.registration-header {
    margin-left: 30px;
}

.form-section {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.form-section p {
    max-width: 700px;
}

.registration-form {
    max-width: 700px;
}

.registration-form fieldset {
    border: 0;
    margin-top: 30px;
}

.registration-form legend {
    font-weight: 500;
    font-size: large;
}

.registration-form li {
    list-style: none;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px;
}

.registration-form label {
    display: block;
    padding: 4px 10px 0 0;
    width: 200px;
    word-wrap: break-word;
    line-height: 1;
}

.registration-form .helptext {
    margin-top: 5px;
    width: 100%;
    font-size: 0.8rem;
    color: gray;
    overflow-wrap: break-word;
}

.registration-form input[type="submit"] {
    display: inline-block;
    padding: 1em 50px 1em;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #533747;
    color: white;
    border: 0;
    font-weight: 700;
    border-radius: 7px;
    cursor: pointer;
}

.registration-form input[type="submit"]:hover {
    background: #7a5269;
}

.success-message {
    margin: 50px;
    font-size: 1.5rem;
}

.developer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.developer-details h2 {
    margin-left: 30px;
}

.developer-basic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 25%;
    margin: 0 30px;
}

.developer-basic h3 {
    font-weight: 400;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.developer-basic dt {
    font-weight: 300;
    margin-top: 10px;
}

.service-detail {
    display: flex;
    flex-grow: row;
    flex-wrap: wrap;
    margin: 0 30px;
    align-items: center;
    justify-content: center;
}

.detail-part {
    width: 40%;
    padding: 10px;
    margin: 0 30px;
    border: 1px solid lightgray;
    border-radius: 6px;
    max-height: 500px;
    min-height: 300px;
    overflow: scroll;
}

.detail-part h3 {
    margin-top: 0;
}

.service-detail h1 {
    width: 100%;
    text-align: center;
    font-size: 38px;
    font-weight: 300;
}

.short-intro {
    
}

.short-intro a {
    font-size: 20px;
    margin-bottom: 10px;
}

.main-ref {
    background: #533747;
    color: white;
    padding: 10px;
    border-radius: 7px;
}

.main-ref:hover {
    background: #7a5269;
}


